* {
	margin: 0;
	transition: all ease-in-out;
	overflow: hidden;
}

.flexContainer {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flexBox {
	flex-grow: 1;
}

.width-60 {
	max-width: 60%;
}

.width-60 {
	max-width: 50%;
}

.width-40 {
	max-width: 40%;
}

img {
	max-width: 95%;
	max-height: 100%;
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img .fitFrame{
	overflow: hidden;
}

.textBox {
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: xxx-large;
	font-weight: bold;
	font-family: 'Poiret One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: black;
}

.textBox a {
	text-decoration: none;
	color: black;
}

@media only screen and (-webkit-min-device-pixel-ratio: 4) {
	.textBox {
		font-size: xx-large;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 4) and (orientation: portrait) {
	.flexContainer {
		flex-direction: column;
	}

	.width-40,
	.width-60 {
		max-width: 100vw;
		width: 100%;
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 3) {
	.textBox {
		font-size: xx-large;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	.flexContainer {
		flex-direction: column;
	}

	.width-40,
	.width-60 {
		max-width: 100vw;
		width: 100%;
	}
}