/* Reset */
* {
    margin: 0;
}

html, body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.pageContainer {
    box-sizing: border-box;
    width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* Left pane */
.left-pane {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    overflow: hidden;
}
.left-pane > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Right pane */
.right-pane {
    margin-left: 60%;
    width: 40%;
    min-height: 100vh;

    background-color: #f8f8f8;
    padding: 40px;

    overflow-y: auto;
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    background: #f8f8f8;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    margin-bottom: 80px;
}

section h1 {
    margin-bottom: 15px;
    font-size: 28px;
}

section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

@media (max-width: 900px) and (orientation: portrait) {
    .left-pane {
        position: relative;
        width: 100%;
        height: 60vh;
    }

    .right-pane {
        margin-left: 0;
        width: 100%;
    }
}