/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #1d2b3f;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


/* Left pane */
.left-pane {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    overflow: hidden;
}
.left-pane > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Right pane */
.right-pane {
    margin-left: 60%;
    width: 40%;
    min-height: 100vh;
    /*padding: 40px 20px;*/

    overflow-y: auto;
    overflow-x: hidden;
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    /*margin-bottom: 80px;*/
}

.right-pane > .center{
    position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section h1 {
    margin-bottom: 15px;
    font-size: 28px;
}

section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

@media (max-width: 900px) and (orientation: portrait) {
    .left-pane {
        position: relative;
        width: 100%;
        height: 60vh;
    }

    .right-pane {
        margin-left: 0;
        width: 100%;
        padding: 40px 20px;
    }
}